<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solpro.board.mapper.BoardMapper">

    <select id="getLists" resultType="com.solpro.board.entity.Board">
        select * from board order by boardIdx asc;
    </select>


    <insert id="boardInsert" parameterType="com.solpro.board.entity.Board">
        insert into board(boardTitle, boardContent, boardWriter)
        values(#{boardTitle}, #{boardContent}, #{boardWriter})
    </insert>

<!--    파라미터가 하나면 생략할 수 있다.-->
<!--    <select id="boardContent" parameterType="int" resultType="com.solpro.board.entity.Board">-->
    <select id="boardContent" resultType="com.solpro.board.entity.Board">
        select * from board where boardIdx=#{boardIdx}
    </select>

    <delete id="boardDelete">
        delete from board where boardIdx=#{boardIdx}
    </delete>

    <update id="boardUpdate" parameterType="com.solpro.board.entity.Board">
        update board set boardTitle=#{boardTitle}, boardContent=#{boardContent}
        where boardIdx=#{boardIdx}
    </update>

    <update id="boardCount">
        update board set boardCount = boardCount + 1 where boardIdx=#{boardIdx}
    </update>

</mapper>