<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>게시판 목록</title>
  <link rel="stylesheet" href="/board.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
  <div th:include="board/header :: nacanaca"></div>

  <div class="카테고리탭">
    <div class="카테고리1 카테고리클릭">카테고리1</div>
    <div class="카테고리2">카테고리2</div>
    <div class="카테고리3">카테고리3</div>
    <div class="카테고리4">카테고리4</div>
    <div class="카테고리5">카테고리5</div>
  </div>

  <div style="margin: 40px"></div>
  <div style="margin-left: 50px; margin-right: 50px">
    <div class="자유게시판글자">자유게시판</div>
    <hr>

    <div class="boardHead">
      <div class="인덱스">No</div>
      <div class="제목">제목</div>
      <div class="작성자">작성자</div>
      <div class="작성시간">작성시간</div>
      <div class="조회수">조회수</div>
    </div>
    <hr>
    <div class="row" th:each="board:${list}" th:onclick="|location.href='@{boardContent(boardIdx=${board.getBoardIdx()})}'|">
      <div class="인덱스" th:text="${board.getBoardIdx()}">1</div>
      <div class="제목" style="text-align:justify" th:text="${board.getBoardTitle()}">제목샘플</div>
      <div class="작성자" th:text="${board.getBoardWriter()}">작성자샘플</div>
      <div class="작성시간" th:text="${board.getBoardIndate()}">작성시간샘플</div>
      <div class="조회수" th:text="${board.getBoardCount()}">조회수샘플</div>
    </div>
    <hr>
    <div class="글쓰기위치">
      <a class="글쓰기" href="boardForm">글쓰기</a>
    </div>
  </div>

  <!--  모달 창-->
  <div th:if="${msgType} != null" class="modal show">
    <div class="모달창">
      <h2 th:text="${msgType}">모달창 제목</h2>
      <p th:text="${msg}">모달창 내용</p>
      <button onclick="closeModal()">닫기</button>
    </div>
  </div>

  <script>
    function closeModal(){
      document.querySelector('.modal').classList.remove('show');
    }

    document.querySelector('.카테고리1').addEventListener('click', function(){
      document.querySelector('.카테고리1').classList.add('카테고리클릭');
      document.querySelector('.카테고리2').classList.remove('카테고리클릭');
      document.querySelector('.카테고리3').classList.remove('카테고리클릭');
      document.querySelector('.카테고리4').classList.remove('카테고리클릭');
      document.querySelector('.카테고리5').classList.remove('카테고리클릭');
    })

    document.querySelector('.카테고리2').addEventListener('click', function(){
      document.querySelector('.카테고리2').classList.add('카테고리클릭');
      document.querySelector('.카테고리1').classList.remove('카테고리클릭');
      document.querySelector('.카테고리3').classList.remove('카테고리클릭');
      document.querySelector('.카테고리4').classList.remove('카테고리클릭');
      document.querySelector('.카테고리5').classList.remove('카테고리클릭');
    })

    document.querySelector('.카테고리3').addEventListener('click', function(){
      document.querySelector('.카테고리3').classList.add('카테고리클릭');
      document.querySelector('.카테고리1').classList.remove('카테고리클릭');
      document.querySelector('.카테고리2').classList.remove('카테고리클릭');
      document.querySelector('.카테고리4').classList.remove('카테고리클릭');
      document.querySelector('.카테고리5').classList.remove('카테고리클릭');
    })

    document.querySelector('.카테고리4').addEventListener('click', function(){
      document.querySelector('.카테고리4').classList.add('카테고리클릭');
      document.querySelector('.카테고리1').classList.remove('카테고리클릭');
      document.querySelector('.카테고리2').classList.remove('카테고리클릭');
      document.querySelector('.카테고리3').classList.remove('카테고리클릭');
      document.querySelector('.카테고리5').classList.remove('카테고리클릭');
    })

    document.querySelector('.카테고리5').addEventListener('click', function(){
      document.querySelector('.카테고리5').classList.add('카테고리클릭');
      document.querySelector('.카테고리1').classList.remove('카테고리클릭');
      document.querySelector('.카테고리2').classList.remove('카테고리클릭');
      document.querySelector('.카테고리3').classList.remove('카테고리클릭');
      document.querySelector('.카테고리4').classList.remove('카테고리클릭');
    })
  </script>
</body>
</html>