.mainHeader {
    display: flex;
    justify-content: center;
}


.sameDiv {
    text-align: center;
}

.id {
    padding-top: 10px;
    font-size: 15px;
    font-weight: bold;
}

.buttonDiv {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.button {
    height: 40px;
    width: 80px;
    font-size: 20px;
}

.modal {
    width : 100%;
    height : 100%;
    position : fixed;
    background : rgba(0,0,0,0.5);
    z-index : 6;
    padding: 30px;
    visibility: hidden;
    opacity: 0;
    transition: all 1s;
    overflow: auto;
}

.모달창 {
    background: white;
    border-radius: 5px;
    padding: 30px;
    width: 80%;
}

.show {
    visibility: visible;
    opacity: 1;
}