.mainHeader {
    display: flex;
    justify-content: center;
}

.id {
    display: inline-block;
    margin-right: 30px;
    font-size: 20px;
}

.idDiv {
    display: flex;
    justify-content: center;
}
.password {
    display: inline-block;
    margin-right: 10px;
    font-size: 20px;
}

.passwordDiv {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.buttonDiv {
    display: flex;
    justify-content: center;
}

.button {
    height: 50px;
    width: 100px;
    font-size: 20px;
}

.modal {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position : fixed;
    background : rgba(0,0,0,0.4);
    z-index : 5;
    padding: 30px;
    visibility: hidden;
    opacity: 0;
    transition: all 1s;
}

.모달창 {
    background: white;
    border-radius: 10px;
    padding: 40px;
    margin: auto;
    width: 50%;
}

.show {
    visibility: visible;
    opacity: 1;
}