<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/index.css">
    <script type="text/javascript">
        function check() {
            if($('#userId').val() == ''){
                alert("아이디를 입력하세요");
                return false;
            }
            if($('#userPassword').val() == ''){
                alert("비밀번호를 입력하세요");
                return false;
            }
            return true;
        }
    </script>
</head>
<body>
    <h1 class="mainHeader">로그인</h1>
    <hr style="margin-bottom: 50px">
    <form action="/static" method="post">
    <div class="idDiv">
        <div class="id">아이디</div>
        <input type="text" id="userId" name="userId">
    </div>

    <div style="height: 10px"></div>

    <div class="passwordDiv">
        <div class="password">
            비밀번호
        </div>
        <input type="text" id="userPassword" name="userPassword">
    </div>
    <div class="buttonDiv">
    <!--    <button class="button" type="button" th:onclick="return check()">로그인</button>-->
        <button class="button" type="button" th:onclick="|location.href='@{/boardList}'|">로그인</button>
        <div style="margin: 35px"></div>
        <button class="button" type="button" th:onclick="|location.href='@{/memberShip}'|">회원가입</button>
    </div>
    </form>
</body>
</html>