<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>membership</title>
  <link rel="stylesheet" href="/memberShip.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
  <h2 class="mainHeader">정보를 입력하세요</h2>
  <hr>
  <form id="frm" action="/memberRegister" method="post">
    <input type="hidden" id="memPassword" name="memPassword">
    <div class="sameDiv">
      <div class="id">아이디</div>
      <input type="text" name="memId" id="memId">
      <div style="padding-top: 10px">
        <button type="button" th:onclick="registerCheck()">중복확인</button>
      </div>
      <div class="id">비밀번호</div>
      <input type="password" name="memPassword1" id="memPassword1" onkeyup="passwordCheck()">
      <div class="id">비밀번호확인</div>
      <input type="password" name="memPassword2" id="memPassword2" onkeyup="passwordCheck()">
      <div class="id">이름</div>
      <input type="text" name="memName" id="memName">
      <div class="id">이메일</div>
      <input type="text" name="memEmail" id="memEmail">
    </div>
    <div id="오류메시지"></div>
    <div class="buttonDiv">
      <button type="button" class="button" th:onclick="|location.href='@{/}'|">취소</button>
      <div style="margin: 35px"></div>
      <button type="button" class="button" th:onclick="검사()">가입</button>
    </div>
  </form>

  <!--  모달 창-->
  <div th:if="${msgType} != null" class="modal show">
    <div class="모달창">
      <h2 th:text="${msgType}">모달창 제목</h2>
      <p th:text="${msg}">모달창 내용</p>
      <button onclick="closeModal()">닫기</button>
    </div>
  </div>
  <script>
    let pass;
    function 검사(){
      //중복확인 안했으면 alert 띄우기
      if(pass != 2){
        alert("아이디 중복확인 다시 하세요");
        return false;
      }
      document.querySelector('#frm').submit();
    }
    function closeModal(){
      document.querySelector('.modal').classList.remove('show');
    }
    function registerCheck(){
      let memId = document.querySelector('#memId').value;
      $.ajax({
        url : "/memberCheck",
        type : "get",
        data : {"memId" : memId},
        success : function (result){
          pass = result;
          if(result == 0){
            alert("사용중인 아이디입니다.");
          } else if(result == 1){
            alert("아이디를 입력하세요.");
          } else {
            alert("사용가능한 아이디입니다.");
          }
        },
        error : function (){ alert("error"); }
      });
    }
    function passwordCheck(){
      let password1 = document.querySelector('#memPassword1').value;
      let password2 = document.querySelector('#memPassword2').value;
      if(password1 == password2 && password1 != "" && password2 != ""){
        document.querySelector('#오류메시지').innerHTML = "비밀번호가 같습니다.";
        document.querySelector('#오류메시지').style.color = "green";
        document.querySelector('#memPassword').value = password1;
      } else if(password1 == "" || password2 == "") {
        document.querySelector('#오류메시지').innerHTML = "";
      } else {
        document.querySelector('#오류메시지').innerHTML = "비밀번호가 같지 않습니다.";
        document.querySelector('#오류메시지').style.color = "red";
      }
    }
  </script>
</body>
</html>