<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>boardContent</title>
    <link rel="stylesheet" href="/boardContent.css">
</head>
<body>
<div class="맨위">
    <div class="맨위게시판" th:onclick="|location.href='@{/boardList}'|">나카나카 홈페이지</div>
    <div style="width: 72vw"></div>
    <div class="맨위마이페이지">마이페이지</div>
    <div style="width: 1vw"></div>
    <div class="로그아웃">로그아웃</div>
</div>

<div class="제목클래스">
    <input class="제목입력" th:value="${vo.getTitle()}" readonly="readonly">
</div>

<div class="부수내용머리">작성자:
    <span class="부수내용몸체" th:text="${vo.getWriter()}">홍길동</span>
</div>
<div class="부수내용머리">작성기간:
    <span class="부수내용몸체" th:text="${vo.getIndate()}">2022-07-22</span>
</div>
<div class="부수내용머리">조회수:
    <span class="부수내용몸체" th:text="${vo.getCount()}">5</span>
</div>
<hr>

<div class="내용클래스">
    <textarea class="내용입력" th:text="${vo.getContent}" readonly></textarea>
</div>
<div class="버튼div">
    <a class="버튼옵션" th:href="@{boardDelete(idx=${vo.getIdx})}">삭제</a>
    <div style="width: 15vw"></div>
    <a class="버튼옵션" th:href="@{boardList}">목록</a>
    <div style="width: 15vw"></div>
    <a class="버튼옵션" th:href="@{boardUpdate(idx=${vo.getIdx})}">수정</a>
</div>
</body>
</html>