<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>membership</title>
  <link rel="stylesheet" href="/memberShip.css">
</head>
<body>
<h2 class="mainHeader">정보를 입력하세요</h2>
<hr>
<form action="/memberShip" method="post">
  <div class="sameDiv">
    <div class="id">아이디</div>
    <input type="text" name="userId">
    <div style="padding-top: 10px">
      <button>중복확인</button>
    </div>
    <div class="id">비밀번호</div>
    <input type="text" name="userPassword">
    <div class="id">이름</div>
    <input type="text" name="userName">
    <div class="id">이메일</div>
    <input type="text" name="userEmail">
    <div class="id">전화번호</div>
    <input type="text" name="userPhone">
  </div>
  <div class="buttonDiv">
    <button type="button" class="button" th:onclick="|location.href='@{/}'|">취소</button>
    <div style="margin: 35px"></div>
    <button type="submit" class="button">가입</button>
  </div>
</form>
</body>
</html>