<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solpro.login.mapper.MemberMapper">

    <select id="registerCheck" resultType="com.solpro.login.domain.Member">
        select * from member where memId=#{memId}
    </select>

    <insert id="register" parameterType="com.solpro.login.domain.Member">
        insert into member(memId, memPassword, memName, memEmail)
        values (#{memId}, #{memPassword}, #{memName}, #{memEmail})
    </insert>

</mapper>