<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solpro.login.mapper.MemberMapper">

    <select id="memberRegisterCheck" resultType="com.solpro.login.domain.Member">
        select * from member where memId=#{memId}
    </select>

    <insert id="memberRegister" parameterType="com.solpro.login.domain.Member">
        insert into member(memId, memPassword, memName, memEmail)
        values (#{memId}, #{memPassword}, #{memName}, #{memEmail})
    </insert>

    <select id="memberLogin" parameterType="com.solpro.login.domain.Member"
            resultType="com.solpro.login.domain.Member">
        select * from member where memId=#{memId} and memPassword=#{memPassword}
    </select>

    <update id="memberUpdate" parameterType="com.solpro.login.domain.Member">
        update member set memPassword=#{memPassword}, memName=#{memName}, memEmail=#{memEmail}
        where memId = #{memId}
    </update>
</mapper>